*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right,#0c8ace, rgb(158, 7, 121));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.container{
    height: 70vh;
    
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5vmin;
}

.box{
    border-radius: 20px;
    font-size: 8vmin;
    color: rgb(208, 8, 8);
    border: none;
    cursor: pointer;
}

#resetbtn{
    padding: 10px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin-top: 30px;
    border-radius: 0.5rem;
    border: none;
}

#winner{
    color: white;
    font-size: 8vmin;
}

.msg{
    margin-top: 4vmin;
    height: 30vmin;
}

.hide{
    display: none;
}